@import "bootstrap/bootstrap.less";
@import "bootstrap/theme.less";
@import "bootstrap/datepicker/datepicker3.less";
@import "bootstrap-custom.less";

/* @today-bg:								lighten(@btn-primary-color, 60%); */
/* @default-bg:							#E1F7FC; */
@brand-primary:							#8AA1BA;
/* @body-bg:              					#F1F1F1; */
@body-bg:              					@brand-primary;
@default-bg:							lighten(@brand-primary, 10%);
@btn-default-border:  					darken(@default-bg, 10%);
@well-bg:								lighten(@brand-primary, 25%);
@navbar-default-bg:						@well-bg;
@input-group-addon-bg:					@default-bg;
@table-border-color:					darken(@default-bg, 6%);
@btn-default-bg:						@default-bg;
@btn-default-border:          		    darken(@default-bg, 6%);
@input-border:              		    darken(@default-bg, 6%);
@pagination-active-bg:   				@navbar-default-link-active-bg;
@pagination-active-color:   			@link-hover-color;
@navbar-default-link-color:				@brand-primary;
@navbar-default-link-active-color:		darken(@navbar-default-link-color, 30%);
@navbar-default-link-hover-color:		darken(@navbar-default-link-color, 20%);
@navbar-default-link-diabled-color:		lighten(@navbar-default-link-color, 30%);
@nav-tabs-active-link-hover-bg:			lighten(@brand-primary, 40%);

@table-bg-hover:						white;
@icon-font-path:        				"../resources/bootstrap/fonts/";
@carousel-caption-color:				@default-bg;
@carousel-control-width: 				5%;
@carousel-indicator-active-bg:			@brand-primary;
@carousel-indicator-border-color:		black;

.w80{
	width: 80%;
}

.w33{
	width: 33%;
}

.w15{
	width: 15%;
}

.w10{
	width: 10%;
}


.xs-padding{
	@media (max-width: @screen-xs-min) {
		padding-left: 5px;
		padding-right: 5px;
	}
}

html,body{
	height: 100%;
	min-height:100%;  
	position:relative;
}

.mytable{
	.bordertable;
	.table-hover;
}

.eventtable{
	.mytable;
	td{
		.vamiddle;
		padding-left: 3%;
	}
}

.daytable{
	.bordertable;
	.table-hover;
	td:first-child{
		width: 15%;
		.txtcenter;
		.vamiddle;
	}
}


.cancelbtn{
	span{
		.glyphicon;
		.glyphicon-remove;
		margin-right: 5px;
	}
	div{
		display: inline;
	}
}

.savebtn{
	span{
		.glyphicon;
		.glyphicon-floppy-save;
		margin-right: 5px;
	}
	div{
		display: inline;
	}
}

.hhack{
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}

.block {
  text-align: center;
}

.txtcenter{
	text-align: center;
}

.vamiddle{
	vertical-align: middle;
}

.eventblock{
	.img-rounded;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	#gradient > .horizontal(white, @brand-primary);
}

div.daynavbar{
	
	.well;
	.xs-padding;
	
	div{
	.make-row(0);

		div.left{
			.make-md-column(4);
			.make-xs-column(2);
			.xs-padding;
			span{
				.glyphicon;
				.glyphicon-chevron-left;
			}
		}
	
		div.middle{ 
			.make-md-column(4);
			.make-xs-column(6);
			.xs-padding;
			input{
				.form-control;
			}
			span{
/* 				.hidden-xs; */
			}
		}
		
		div.right{
			.make-md-column(4);
			.make-xs-column(4);
			.xs-padding;
			button{
				float: right;
				margin-left: 2%;
			}
			span{
				.glyphicon;
				.glyphicon-chevron-right;
			}
			span.new{
				.glyphicon-plus;
			}
		}
	}
}

row{
	.make-row();
	display: block;
	margin-top:10px;
}

row.formrow{
	
	div:nth-child(1){
	    .make-md-column(2);
	}
	
	div:nth-child(2){
		.make-md-column(7);
	}
	
	div:nth-child(3){
		.make-md-column(3);
		color: red;
		font-weight: bold;
	}
}

row.loginrow{
	
	div.inputlabel{
	    .make-md-column(2);
	}

	div.input{
	    .make-md-column(4);
	}

	div.message{
	    .make-md-column(6);
	    text-align: left;  
	}
}

fcol{
	.make-md-column(12);
}

hcol{
	.make-md-column(6);
}

content{
  	.make-row();
	
	div.main{
		.well;
		.make-md-column(12);
		margin-bottom: 10px;
	}
	
/* 	div.side{ */
/* 		.make-md-column(2); */
/* 	}	 */
}

.myalert{
  	.alert;
 	.alert-danger;
} 

.mybtn{
	margin-right:	5px;
	background-color: @body-bg; 
	.btn;
	.btn-sm;
	.btn-default;
}

button{
	.mybtn;
}

input[type=button]{
	.mybtn;
}

input[type=submit]{
	.mybtn;
}

#myCarousel{
	
	img{
		.img-responsive;
	}
	
	div.carousel-caption{
		p{
			.lead;
		}
		
		a{
			.btn;
			.btn-primary;
		}
	}
	
}

